body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.library-header {
    display:flex;
    flex-direction: column;
    background-color: #f1c0c0;
    color: #333;
    padding: 10px 20px;
}

.library-header h1 {
    align-self: center;
    margin: 0;
    padding: 0;
}

nav ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.add-book {
    display: flex;
    align-items:center;
    justify-content: center;
}

.add-book-svg {
    width: 100px;
    height: 100px;
}
